@font-face {
	font-family: 'ISOCPEUR';
	src: url('ISOCPEUR.ttf');
}
input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked), 
input[type="radio"]:checked, 
input[type="radio"]:not(:checked) 
{
	position: absolute;
	left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label, 
input[type="radio"]:checked + label, 
input[type="radio"]:not(:checked) + label {
	display: inline-block;
	position: relative;
	padding-left: 28px;
	line-height: 20px;
	cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;
	width: 18px;
	height: 18px;
	border: 1px solid #5b524c;
	background-color: #b2a081;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
	border-radius: 2px;
}

input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
	border-radius: 100%;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
	content: "";
	position: absolute;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
	left: 3px;
	top: 4px;
	width: 10px;
	height: 5px;
	border-radius: 1px;
	border-left: 4px solid #ffffff;
	border-bottom: 4px solid #ffffff;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
	left: 5px;
	top: 5px;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: #ffffff;
}

input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:not(:checked) + label:after {
	opacity: 0;
}

input[type="checkbox"]:checked + label:after, 
input[type="radio"]:checked + label:after {
	opacity: 1;
}
.logo{
	background-color: #ffffff;
	background-repeat: repeat;
	padding: 15px;
	max-width: 100%;
}
.header{
	max-height: 50px;
	padding-left: 1px;
	max-width: 100%;
}
.text{
	box-sizing: border-box;
	max-width: 100%;
}
h1#main {
	margin-top: 46%;
}
input{
	box-sizing: border-box;
	max-width: 100%;
	font-family: 'ISOCPEUR', sans-serif;
}
button.text{
	appearance: none;
	border: 0;
	border-radius: 5px;
	background: #b2a081;
	color: #fff;
	padding: 8px 16px;
	font-size: 16px;
	font-family: 'ISOCPEUR', sans-serif;
	margin: 10px;
	max-width: 100%;
}
button.text:hover {
	background: #5b524c;
	max-width: 100%;
}
textarea.form{
	max-width: 100%;
}
input.form{
	max-width: 100%;
}
button.text:active:focus {
	outline: none;
	box-shadow: 0 0 0 4px #b6a895;
	max-width: 100%;
}
h1.text {
	color:black;
	font-family: 'ISOCPEUR', sans-serif;
	margin: 10px;
}
div.text {
	color:black;
	font-family: 'ISOCPEUR', sans-serif;
	max-width: 100%;
	font-weight: 800;
}
cite.text{
	color:black;
	font-family: 'ISOCPEUR', sans-serif;
	font-size: larger; 
	font-weight: 800;
	max-width: 100%;
}
h2.text {
	color:black;
	font-family: 'ISOCPEUR', sans-serif;
	max-width: 100%;
}
a.text{
	color:black;
	font-family: 'ISOCPEUR', sans-serif;
	max-width: 100%;
	font-weight: 800;
}
label.text{
	color:black;
	font-family: 'ISOCPEUR', sans-serif;
	max-width: 100%;
}
p.text{
	color:black;
	font-family: 'ISOCPEUR', sans-serif;
	font-weight: 800;
	max-width: 100%;
}
a.text{
	color:black;
	font-family: 'ISOCPEUR', sans-serif;
	font-weight: 800;
	max-width: 100%;
}
details{
	margin-left: 40%;
	margin-right: 40%;
	max-width: 100%;
}
body {
	background: url(../no_index/wood_panel_background.png);
	margin: 0px;
	background-repeat: repeat;
	display: flex;
	flex-direction: column;
	text-align: center;
	background-attachment: fixed;
	height: 500;
	width: 1400;
}
footer{
	width: 100%;
	position: fixed;
	bottom: 0;
	background: white;
	padding-bottom: 10px;
}
header{
	position: fixed;
`	top: 0;
	width: 100%;
	margin-top: 0;
	background: white;
	padding: 10px;	
	margin-bottom: 100%;
}
